body {
  background: #D23789;
  background-image: url("../img/zebra.svg");
  background-size: cover;
  margin: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding: 5px;
}
a {
  text-decoration: none;
}
#content {
  background: white;
}
.logo-main {
  width: 80px;
  margin-right: 20px;
}
ul {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
.item-logo {
  width: 300px;
  background-color: #ccc;
}
li {
  color: #000;
}
.label {
  color: #D23789;
  font-weight: bold;
  font-size: x-small;
  text-transform: uppercase;
  margin-left: 5px;
}
li:hover {
  background-color: #D23789;
  color: #FFF;
}
li:hover .label {
  color: #FFF;
}
li:hover .item-logo {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}

.note {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#quizz-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

#quizz-link {
  margin: 10px;
  padding: 10px;
}

#quizz-link:hover {
  background-color: #D23789;
  color: #FFF;
}

#quizz-logo {
  width: 300px;
  background-color: #fff;
  padding: 20px;
}

@media (min-width: 500px) {
  #content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 900px) {
  #content {
    width: 60%;
  }
}